[defaults]
inventory = ./inventory.yml
host_key_checking = False
remote_user = ubuntu
private_key_file = /var/lib/jenkins/.ssh/linux_test.pem
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no
